* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
nav {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  min-height: 80px;
  padding: 0 1rem;
  background: #44337A;
  width: 100%;
  z-index: 100;
}
nav .header-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .header-menu ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  color: #E2E8F0;
}
nav .header-menu ul li a {
  color: #E2E8F0;
  text-decoration: none;
}
nav .header-menu ul li a:hover {
  color: #B794F4;
}
nav .header-menu ul li a:active {
  color: #CBD5E0;
}
nav .user-infos {
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav .avatar {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #44337A;
  background: #9F7AEA;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  box-shadow: 0 0 0 2px #9F7AEA;
  color: #44337A;
}
.container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}
.container .box-content h1 {
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  max-width: 100%;
  padding: 2rem;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-evenly;
  gap: 2rem;
}
